{% extends "base.html" %}

{% block content %}
<!-- Cover Section -->
<div class="cover text-center">
    <img src="{{ url_for('static', filename='images/quizimage.jpg') }}" alt="Cover Image" class="cover-img">
    <div class="cover-text">
        <h1 class="display-4">QuizMaster</h1>
        <p class="lead">Test your knowledge with our fun and challenging quizzes!</p>
        <a href="{{ url_for('quiz') }}" class="btn btn-primary btn-lg">Go to App</a>
    </div>
</div>

<!-- Features Section -->
<section id="features" class="container my-5">
    <h2 class="text-center mb-4">Features</h2>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename='images/afroguy.jpg') }}" alt="Feature 1" class="img-fluid mb-3">
            <h3>Feature 1</h3>
            <p>Description of feature 1.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename='images/manandwoman.jpg') }}" alt="Feature 2" class="img-fluid mb-3">
            <h3>Feature 2</h3>
            <p>Description of feature 2.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename='images/naijaguy.jpg') }}" alt="Feature 3" class="img-fluid mb-3">
            <h3>Feature 3</h3>
            <p>Description of feature 3.</p>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about" class="container my-5">
    <h2 class="text-center mb-4">About</h2>
    <p>This project was inspired by ... (your personal story and timeline).</p>
    <p>This is a Portfolio Project for Holberton School. <a href="https://holbertonschool.com">Holberton School</a></p>
    <div class="text-center">
        <p>Team Members:</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/yourprofile">LinkedIn</a></li>
            <li class="list-inline-item"><a href="https://github.com/yourprofile">GitHub</a></li>
            <li class="list-inline-item"><a href="https://twitter.com/yourprofile">Twitter</a></li>
        </ul>
        <p>Project Repository: <a href="https://github.com/yourrepository">GitHub Repository</a></p>
    </div>
</section>
{% endblock %}
