{% extends "base.html" %}

{% block content %}
<!-- Cover Section -->
<div class="cover text-center">
    <img src="{{ url_for('static', filename='images/quizaster.jpg') }}" alt="Cover Image" class="cover-img">
    <div class="cover-text">
        <h1 class="display-4">QuizMaster</h1>
        <p class="lead">Test your knowledge with our fun and challenging quizzes!</p>
        <a href="{{ url_for('quiz') }}" class="btn btn-primary btn-lg">Go to App</a>
    </div>
</div>

<!-- Features Section -->
<section id="features" class="container my-5">
    <h2 class="text-center mb-4">Features</h2>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename='images/afroguy.jpg') }}" alt="Feature 1" class="img-fluid mb-3">
            <h3>Dynamic Quiz Selection</h3>
            <p> Offers a variety of quiz categories and topics for users to choose from. Each category provides a unique set of questions, ensuring diverse and engaging quiz experiences.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename='images/manandwoman.jpg') }}" alt="Feature 2" class="img-fluid mb-3">
            <h3>Customizable Quiz Settings</h3>
            <p>Allows users to customize their quiz experience by adjusting parameters like the number of questions or difficulty level. This feature enables tailored quizzes suited to individual preferences.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename='images/naijaguy.jpg') }}" alt="Feature 3" class="img-fluid mb-3">
            <h3>Personalized Quiz History</h3>
            <p>Keeps track of users' quiz performance and history. Users can view their past quiz results, revisit quizzes they've completed, and track their progress over time.</p>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about" class="container my-5">
    <h2 class="text-center mb-4">About</h2>
    <p>This project was inspired by my journey and passion for learning through practical applications. As a student at Holberton School, I've embarked on a journey to deepen my understanding of frontend development and software engineering. QuizMaster represents a culmination of my efforts to apply classroom knowledge to real-world projects.</p>
    <p>This is a Portfolio Project for Holberton School. <a href="https://holbertonschool.com">Holberton School</a> where I've been honing my skills in programming, problem-solving, and project management. It serves as a showcase of my ability to conceptualize, design, and implement a functional application that delivers a seamless quiz experience.</p>
    <div class="text-center">
        <p>Team Members:</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/christopher-dominic-eze">LinkedIn</a></li>
            <li class="list-inline-item"><a href="https://github.com/Christopherdominic">GitHub</a></li>
            <li class="list-inline-item"><a href="https://twitter.com/Pistolx4lyf">Twitter</a></li>
        </ul>
        <p>Project Repository: <a href="https://github.com/Christopherdominic/new_quizapp.git">GitHub Repository</a></p>
    </div>
</section>
{% endblock %}
